<main class="d-flex h-100">
  <div class="video-grid w-100 p-2">
    <video id="local-stream" #localStream style="display: none"></video>
    <video id="local-stream" #remoteStream style="display: none"></video>
    <div class="information-section">
      <h3>{{ appState.informationMessage }}</h3>
      <button
        class="btn btn-danger mx-2"
        *ngIf="appState.calling"
        (click)="stopCalling()"
      >
        <img src="assets/icons/endcall.svg" alt="end call" />
        End Calling
      </button>
      <button
        class="btn btn-danger mx-2"
        *ngIf="appState.outgoingCall"
        (click)="endOutGoingCall()"
      >
        <img src="assets/icons/endcall.svg" alt="end call"/>
        End Call
      </button>
    </div>
  </div>
</main>
