<main class="d-flex">
  <div
    id="mySidenav"
    class="mysidenav"
    [style.width]="hideSide ? '0px' : '350px'"
  >
    <a href="javascript:void(0)" class="closebtn" (click)="toggleSidenav()"
      >&times;</a
    >
    <p class="m-4">you can call other user using his personal code</p>
    <div class="card mx-4 shadow">
      <div class="card-body">
        <small>your personal code</small>
        <div
          class="code-copy d-flex justify-content-between align-items-center mt-4"
        >
          <span id="personalcode">#######</span>
          <button class="btn btn-secondary">copy</button>
        </div>
      </div>
    </div>
    <div class="up-shift"></div>
    <form class="mx-4">
      <div class="mb-3">
        <label for="targetId" class="form-label">Personal Code:</label>
        <input type="text" class="form-control" id="targetId" />
      </div>
      <button type="submit" class="btn btn-primary">Call</button>
    </form>
  </div>
  <div class="video-grid w-100 p-2">
    <button
      class="btn btn-primary mx-2"
      (click)="toggleSidenav()"
      *ngIf="hideSide"
    >
      <i class="bi bi-list"></i>
    </button>
    <div class="grid d-flex">
      <div
        class="local-container w-100 d-flex flex-column justify-content-between"
      >
        <small>Local:</small>
        <video autoplay id="remote"></video>
        <div class="controls p-4 d-flex justify-content-center">
          <button class="btn btn-primary mx-2" (click)="toggleMic()">
            <i class="bi bi-mic-fill" *ngIf="local.audio"></i>
            <i class="bi bi-mic-mute-fill" *ngIf="!local.audio"></i>
          </button>
          <button class="btn btn-primary mx-2" (click)="toggleCam()">
            <i class="bi bi-camera-video-fill" *ngIf="local.video"></i>
            <i class="bi bi-camera-video-off" *ngIf="!local.video"></i>
          </button>
          <button class="btn btn-danger mx-2">
            <img src="assets/icons/endcall.svg" alt="end call" />
          </button>
          <button class="btn btn-primary mx-2">
            <i class="bi bi-gear-fill"></i>
          </button>
          <button class="btn btn-primary mx-2">
            <i class="bi bi-record-circle-fill"></i>
          </button>
        </div>
      </div>
      <div class="remote-container w-100 d-flex flex-column">
        <small>Remote:</small>
        <video autoplay id="remote"></video>
      </div>
    </div>
  </div>
</main>
